.app.dark {

  background-color:  rgb(45, 45, 45);
  color: rgb(156, 156, 156);
  height: 100vh;

  span{
    color: rgb(156, 156, 156);
  }
  
  .profil-page {
    background-color: rgb(45, 45, 45);
    .formContainer{
      background-color: transparent;
    }
  }

  .chartGrid {
    stroke: rgb(45, 45, 45);
  }

  .widget-link {
    color: white;
  }

  .editButton {
    background-color: white;
    a:-webkit-any-link {
      color: rgb(45, 45, 45);
    }
  }

  .table {
    background-color: rgb(45, 45, 45);

    .tableCell {
      color: white;

      .MuiSvgIcon-root {
        fill: #f78686;
      }
    }

    .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
      color: white;
    }
  }

  .navbar {
    color: #999;
    border-color: rgb(45, 45, 45);

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: rgb(45, 45, 45);
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: rgb(45, 45, 45);
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: white;
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        .deleteButton {
          border: 1px dashed red;
          color: red;
        }
      }
    }
  }

  input {
    background-color: transparent;
    color: white;
  }
}
