.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .widget-link {
    color: white;
  }

  .editButton {
    background-color: white;
    a:-webkit-any-link {
      color: black;
    }
  }

  .table {
    background-color: #111;

    .tableCell {
      color: white;

      .MuiSvgIcon-root {
        fill: #f78686;
      }
    }

    .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
      color: white;
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: white;
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        .deleteButton {
          border: 1px dashed red;
          color: red;
        }
      }
    }
  }

  input {
    background-color: transparent;
    color: white;
  }
}
